/* 
    Created on : 21.05.2017, 22:28:39
    Author     : Simon Fetzel <simon.fetzel@get-the-solution.net>
*/

body
{
    padding: 10px;
}

.sidebar, .simulation
{
    float: left;
    padding: 5px;
}

#simulation-canvas
{
    border: 2px solid black;
}